[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"

[requires]
python_version = "3.7"
